<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Editing {{ title }}...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/house/wiki/static/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/house/wiki/static/lib/bootstrap/css/bootstrap-responsive.css"/>
    <script type='text/javascript' src='/house/wiki/static/js/jquery.js'></script>
    <script type='text/javascript' src='/house/wiki/static/js/showdown.js'></script>
    <script type='text/javascript' src='/house/wiki/static/lib/bootstrap/js/bootstrap.js'></script>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
	<a class="brand" href="/house/wiki/view/Main">The House Wiki</a>
	<ul class="nav">
	  <li class="active">
	    <a href="#">{{ title }}</a>
	  </li>
	  <li><a href="#" id='save'>Save</a></li>
	  <li><a href="#" id='cancel'>Cancel</a></li>
	  <li class="nav-collapse"><a href="/house/wiki/view/SyntaxHelp">Syntax Help</a></li>
	</ul>
      </div>
    </div>
    <div class="container">
      <div style='display:none' id='content'>{{ content }}</div>
      <div class="row">
	<div class="span6">
	  <textarea style='width:100%' id='text-content'>{{ content }}</textarea>
	</div>
	<div class="span6">
	  <div id='preview' style='background-color:#ddd'></div>
	</div>
      </div>
      <script>
	$("#text-content").css('height', ($(window).height() - 60)+ "px");
	  var path_name = "{{ title }}";
	  $('#cancel').click(function() { window.location = '/house/wiki/view/' + path_name; });
	  $('#save').click(function() {
              $.post('/house/wiki/save/' + path_name,
                     { data: $('#text-content').val() },
                     function(data) {
                         window.location = '/house/wiki/view/' + path_name;
                     });
              });
	  window.setInterval(function() {
              var new_html = (new Showdown.converter()).makeHtml($('#text-content').val());
              // ugly:
              // we're going through the DOM every time here to avoid replacing attributes in the HTML text.
	      $('#preview').html(new_html);
	      $('#preview :not(:has(*))').html(function(idx,oldText){
                  //idx is the index of the current element in the JQUERY_OBJECT
    	          return oldText.replace(/\[\[(([A-Z]|[a-z]|[0-9])+)\]\]/g, "<a href='/house/wiki/view/$1'>$1</a>");
              });
	      $('#preview :not(:has(*))').html(function(idx,oldText){
                  //idx is the index of the current element in the JQUERY_OBJECT
	          return oldText.replace(/\b(([A-Z]([0-9]|[a-z])+){2,})\b/g, "<a href='/house/wiki/view/$1'>$1</a>");
              });
	  }, 500);
      </script>
    </div>
  </body>
</html>
