<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Editing {{ title }}...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ prefix }}/static/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="{{ prefix }}/static/lib/bootstrap/css/bootstrap-responsive.css"/>
    <script type='text/javascript' src='{{ prefix }}/static/js/jquery.js'></script>
    <script type='text/javascript' src='{{ prefix }}/static/js/showdown.js'></script>
    <script type='text/javascript' src='{{ prefix }}/static/js/mywiki.js'></script>
    <script type='text/javascript' src='{{ prefix }}/static/lib/bootstrap/js/bootstrap.js'></script>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
	<a class="brand" href="{{ prefix }}/view/Main">{{ wikiname }}</a>
	<ul class="nav">
	  <li class="active">
	    <a href="#">{{ title }}</a>
	  </li>
	  <li><a href="#" id='save'>Save</a></li>
	  <li><a href="#" id='discard'>Discard</a></li>
	  <li class="nav-collapse"><a href="{{ prefix }}/view/SyntaxHelp">Syntax Help</a></li>
	</ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
	<div class="span6">
	  <textarea style='width:100%' id='text-content'></textarea>
	</div>
	<div class="span6">
	  <div id='preview' style='background-color:#ddd'></div>
	</div>
      </div>
      <script>
        var path_name = "{{ title }}";
	$.ajax({
	    url: "/get/" + path_name,
	    dataType: "text"
	}).done(function(data) {
          $("#text-content").css('height', ($(window).height() - 60)+ "px");
	  $("#text-content").val(data);
          var path_name = "{{ title }}";
          $('#discard').click(function() { window.location = '{{ prefix }}/view/' + path_name; });
          $('#save').click(function() {
              $.post('{{ prefix }}/save/' + path_name,
                     { data: $('#text-content').val() },
                     function(data) {
                         window.location = '{{ prefix }}/view/' + path_name;
                     });
              });
          window.setInterval(function() {
              var new_html = (new Showdown.converter()).makeHtml($('#text-content').val());
              wikify("#preview", new_html, "{{ prefix }}");
        }, 500);
	});
      </script>
    </div>
  </body>
</html>
