<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Browsing previous versions of {{ title }}...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ prefix }}/static/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="{{ prefix }}/static/lib/bootstrap/css/bootstrap-responsive.css"/>
    <script type='text/javascript' src='{{ prefix }}/static/js/jquery.js'></script>
    <script type='text/javascript' src='{{ prefix }}/static/js/showdown.js'></script>
    <script type='text/javascript' src='{{ prefix }}/static/lib/bootstrap/js/bootstrap.js'></script>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
	<a class="brand" href="{{ prefix }}/view/Main">{{ wikiname }}</a>
	<ul class="nav">
	  <li class="active">
	    <a href="#">{{ title }}</a>
	  </li>
	  <li><a href="{{ prefix }}/view/{{ title }}">Back</a></li>
	  <li class="nav-collapse"><a href="{{ prefix }}/view/SyntaxHelp">Syntax Help</a></li>
	</ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
	<div class="span6">
	  <h3>Versions of file {{ title }}:</h3>
	  <ul id="versions">
	    {% for commit in commits %}
	    <li><a href="{{ prefix }}/get_version/{{ title }}/{{ commit.hash }}">{{ commit.date }}</a></li>
	    {% endfor %}
	  </ul>
	</div>
	<div class="span6">
	  <h4>Version from <span id="version_name"></span></h4>
	  <div id='preview' style='background-color:#ddd'></div>
	</div>
      </div>
      <script>
        function show_version(href, name) {
	  $("#version_name").text(name);
  	  $.ajax({url: href, dataType: 'text', success: function(data) {
              var new_html = (new Showdown.converter()).makeHtml(data);
              // ugly:
              // we're going through the DOM every time here to avoid replacing attributes in the HTML text.
	      $('#preview').html(new_html);
	      $('#preview :not(:has(*))').html(function(idx,oldText){
                  //idx is the index of the current element in the JQUERY_OBJECT
    	          return oldText.replace(/\[\[(([A-Z]|[a-z]|[0-9])+)\]\]/g, "<a href='{{ prefix }}/view/$1'>$1</a>");
              });
	      $('#preview :not(:has(*))').html(function(idx,oldText){
                  //idx is the index of the current element in the JQUERY_OBJECT
	          return oldText.replace(/\b(([A-Z]([0-9]|[a-z])+){2,})\b/g, "<a href='{{ prefix }}/view/$1'>$1</a>");
              });
  	  }});
        }
	$("#versions li a").first().each(function(i, v) {
          show_version(v.href, v.innerHTML);
	});
	$("#versions li a").click(function(evt) {
	  show_version(this.href, this.innerHTML);
          return false;
	});
      </script>
    </div>
  </body>
</html>
