<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ prefix }}/static/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="{{ prefix }}/static/lib/bootstrap/css/bootstrap-responsive.css"/>
    <script type='text/javascript' src='{{ prefix }}/static/js/jquery.js'></script>
    <script type='text/javascript' src='{{ prefix }}/static/js/mywiki.js'></script>
    <script type='text/javascript' src='{{ prefix }}/static/js/showdown.js'></script>
    <script type='text/javascript' src='{{ prefix }}/static/lib/bootstrap/js/bootstrap.js'></script>
  </head>
    <body>
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="{{ prefix }}/view/Main">{{ wikiname }}</a>
          <ul class="nav">
            <li class="active">
              <a href="#">{{ title }}</a>
            </li>
            <li><a href="#" id='edit'>Edit</a></li>
            <li><a href="{{ prefix }}/versions/{{ title }}">Previous versions</a></li>
            <li><a href="{{ prefix }}/view/SyntaxHelp">Syntax Help</a></li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="span12">
            <div id='output'></div>
          </div>
        </div>
        <script>
	  var path_name = "{{ title }}";
          $('#edit').click(function() {
            window.location = '{{ prefix }}/edit/' + path_name
          });
	  $.ajax({
	      url: "{{ prefix }}/get/" + path_name,
	      dataType: "text"
	  }).done(function(data) {
              var new_html = (new Showdown.converter()).makeHtml(data);
              wikify("#output", new_html, "{{ prefix }}");
	  });
        </script>
      </div>
    </body>
</body>
</html>
